.add-posts{
    display: flex;
    background-color: white;
    gap: 10px;
    padding: 10px 20px;
    width: 47vw;
    height: 150px;
}
.post-btn{
    display: flex;
    justify-content: space-between;
}
#post-submit{
    height: 30px;
    padding: 5px 10px;
    background-color: #0D72F6;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}
.post-man-info p{
    font-size: 12px;
}
.post-man-info>*{
    cursor: pointer;
}
.profile-img-box{
    cursor: pointer;
}
.post-box{
    display: grid;
    gap: 10px;
    width: 100%;
}
.caption input{
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.242);
}
.contents{
    display: flex;
    font-size: 10px;
    gap: 5%;
}
.contents img{
    width: 18px;
}
.contents>*{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}


@media(max-width:1100px){
    .add-posts{
        width: 60vw;
    }
}
@media(max-width:700px){
    .add-posts{
        width: 90vw;
    }
}