.right-bar{
    background-color: #ffffff;
}




/* Event Section */
.events{
    display: grid;
    border-bottom: 2px solid rgb(225, 219, 219);
    padding-bottom: 20px;
    gap: 10px;
}
.event-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.event-header h4{
    font-weight: 500;
    font-size: 14px;
}
.event-header a{
    font-size: 12px;
    color:#3690e4;
}
.event-header a:hover{
    transform: scale(1.2);
}


.event-card{
    display: flex;
    gap: 10px;
}
.date-month{
    display: flex;
    flex-direction: column;
    width: 80px;
    height:80px;
    align-items: center;
    border:1px solid rgba(229, 222, 222, 0.571);
    border-radius: 10px;
}
.date{
    flex: 2;
    align-content: center;
    font-size: 14px;
}
.month{
    background-color: #0D72F6;
    padding: 5px 10px;
    border-radius: 0 0 10px 10px;
    font-size: 11px;
    color: #ffffff;
}

.event-info{
    display: grid;
}
.event-info h3{
    font-size: 12px;
}
.location{
    font-size: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.location img{
    width: 8px;
}
.event-info a{
    font-size: 10px;
    color: #3690e4;
}
.event-info a:hover{
    transform: rotate(5deg) scale(1.1);
}




/* Advadisment */
.ads{
    margin-top: 10px;
    gap: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.196);
}
.ad-body img{
    width: 100%;
    margin: 10px 0;
}



/* Converseation */
.conversation{
    display: grid;
    gap: 10px;
    margin-top: 10px;
}
.chats{
    display: grid;
    gap: 10px;
}
.chats a{
    display: flex;
    align-items: center;
    gap:10px
}
.online2{
    position: relative;
}
.online2::after{
    content: '';
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: rgb(100, 239, 100);
    position: absolute;
    bottom: 5px;
    left: 24px;
}
